<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <style>
        .table-container {
            width: 100%;
            max-height: 400px;
            overflow: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>


    <script th:inline="javascript">
        var labWorks = /*[[${labWorks}]]*/ [];
        var stompClient = null;
        const pageSize = 5;
        let currentPage = 1;
        let totalPages = 1;

        function connect() {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);

            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);

                stompClient.subscribe('/topic/labworks', function (message) {
                    var labWork = JSON.parse(message.body);
                    console.log('---------------------------------', message);
                    if (message.body.status !== null) {
                        onLabWorkUpdate(labWork);
                    }
                });

            }, function (error) {
                console.error('WebSocket connection failed: ' + error);
            });
        }

        function onLabWorkUpdate(labWork) {
            console.log('LabWork updated:', labWork);

            if (labWork.id == null) {
                return;
            }

            const existingIndex = labWorks.findIndex(item => item.id === labWork.id);
            if (existingIndex !== -1) {
                labWorks[existingIndex] = labWork;
            } else {
                labWorks.push(labWork);
            }

            renderTable(currentPage);
        }

        function renderTable(page) {
            totalPages = Math.ceil(labWorks.length / pageSize);
            const tableBody = document.getElementById('labWorkTableBody');
            tableBody.innerHTML = "";
            const start = (page - 1) * pageSize;
            const end = start + pageSize;
            const paginatedItems = labWorks.slice(start, end);

            paginatedItems.forEach(labWork => {
                const row = document.createElement('tr');
                row.innerHTML = `
            <td>${labWork.id}</td>
            <td>${labWork.owner_id.username}</td>
            <td>${formatUTCDate(labWork.creationDate)}</td>
            <td>${labWork.name}</td>
            <td>${labWork.discipline.name}</td>
            <td>${labWork.discipline.practiceHours}</td>
            <td>${labWork.description}</td>
            <td>${labWork.difficulty}</td>
            <td>${labWork.coordinates.x}</td>
            <td>${labWork.coordinates.y}</td>
            <td>${labWork.minimalPoint}</td>
            <td>${labWork.personalQualitiesMaximum}</td>
            <td>${labWork.personalQualitiesMinimum}</td>
            <td>${labWork.author.name}</td>
            <td>${labWork.author.weight}</td>
            <td>${labWork.author.eyeColor}</td>
            <td>${labWork.author.hairColor}</td>
            <td>${labWork.author.location.x}</td>
            <td>${labWork.author.location.y}</td>
            <td>${labWork.author.location.name}</td>
            <td>${labWork.author.passportID}</td>
            <td><button onclick="openEditModal(${labWork.id})">Edit</button></td>
        `;
                tableBody.appendChild(row);
            });

            document.getElementById('currentPage').textContent = currentPage;
            document.getElementById('totalPages').textContent = totalPages;
        }

        function nextPage() {
            if (currentPage < totalPages) {
                currentPage++;
                renderTable(currentPage);
            }
        }

        function previousPage() {
            if (currentPage > 1) {
                currentPage--;
                renderTable(currentPage);
            }
        }

        window.onload = function () {
            connect();
            renderTable(currentPage);
        };

        async function addLabWork(event) {
            event.preventDefault();

            removeRequiredIfHidden();

            const formData = new FormData(document.getElementById('addLabWorkForm'));

            const labWorkDTO = {
                name: formData.get('name'),

                coordinates: formData.get('coordinatesId') ? { id: formData.get('coordinatesId') } : {
                    x: formData.get('newCoordinatesX'),
                    y: formData.get('newCoordinatesY')
                },

                description: formData.get('description'),

                difficulty: formData.get('difficulty'),

                discipline: formData.get('disciplineId') ? { id: formData.get('disciplineId') } : {
                    name: formData.get('newDisciplineName'),
                    practiceHours: formData.get('newPracticeHours')
                },

                minimalPoint: formData.get('minimalPoint'),
                personalQualitiesMinimum: formData.get('personalQualitiesMinimum'),
                personalQualitiesMaximum: formData.get('personalQualitiesMaximum'),
                author: formData.get('authorId') ? { id: formData.get('authorId')}  : {
                    name: formData.get('newAuthorName'),
                    weight: formData.get('newAuthorWeight'),
                    location: formData.get('locationId') ? { id: formData.get('locationId') } : {
                        name: formData.get('newLocationName'),
                        x: formData.get('newLocationX'),
                        y: formData.get('newLocationY')
                    },
                    eyeColor: formData.get('newAuthorEyeColor'),
                    hairColor: formData.get('newAuthorHairColor'),
                    passportID: formData.get('passportID')
                },
                ownerName: document.getElementById("userName").textContent
            };

            stompClient.send("/app/labworks/add", {}, JSON.stringify(labWorkDTO));

            closeAddModal();
        }

        function removeRequiredIfHidden() {
            const hiddenFields = document.querySelectorAll('[required]');
            hiddenFields.forEach(field => field.removeAttribute('required'));
        }


        async function editLabWork(event) {
            event.preventDefault();  // Чтобы форма не отправлялась

            const form = event.target;  // Получаем форму
            const labWorkId = form.querySelector('[data-id]').getAttribute('data-id');  // Извлекаем labWorkId

            alert("labWorkId: " + labWorkId);

            // Находим labWork в коллекции labWorks по ID
            const labWork = labWorks.find(work => work.id === Number(labWorkId));  // Преобразуем в число для сравнения

            if (!labWork) {
                alert('Lab Work not found');
                return;
            }

            try {
                const currentUserName = document.getElementById("userName").textContent;

                // Проверяем, может ли текущий пользователь редактировать эту работу
                const response = await fetch(`/labworks/${labWorkId}/can-edit`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                if (response.ok) {
                    const canEdit = await response.json();
                    if (canEdit) {
                        // Заполняем поля формы с данными labWork
                        document.getElementById('editLabWorkId').value = labWork.id;
                        document.getElementById('editLabWorkName').value = labWork.name;
                        document.getElementById('editLabWorkDescription').value = labWork.description;
                        document.getElementById('editLabWorkDifficulty').value = labWork.difficulty;
                        document.getElementById('editLabWorkMinimalPoint').value = labWork.minimalPoint;
                        document.getElementById('editLabWorkPersonalQualitiesMax').value = labWork.personalQualitiesMaximum;
                        document.getElementById('editLabWorkPersonalQualitiesMin').value = labWork.personalQualitiesMinimum;

                        // Заполняем поля для координат
                        if (labWork.coordinates) {
                            document.getElementById('editLabWorkCoordinatesX').value = labWork.coordinates.x;
                            document.getElementById('editLabWorkCoordinatesY').value = labWork.coordinates.y;
                        }

                        // Проверка наличия дисциплины
                        if (labWork.disciplines && labWork.disciplines.length > 0) {
                            populateSelectEditOptions('editLabWorkDisciplineId', labWork.disciplines, 'name', labWork.discipline ? labWork.discipline.id : null);
                        }

                        // Проверка наличия авторов
                        if (labWork.authors && labWork.authors.length > 0) {
                            populateSelectEditOptions('editLabWorkAuthorId', labWork.authors, 'name', labWork.author ? labWork.author.id : null);
                        }

                        // Проверка наличия локации
                        if (labWork.locations && labWork.locations.length > 0) {
                            populateSelectEditOptions('editLabWorkLocationId', labWork.locations, 'name', labWork.location ? labWork.location.id : null);
                        }

                        // Заполняем дополнительные данные для автора, если он существует
                        if (labWork.author) {
                            if (document.getElementById('editLabWorkAuthorName')) {
                                document.getElementById('editLabWorkAuthorName').value = labWork.author.name || '';
                            }
                            if (document.getElementById('editLabWorkAuthorWeight')) {
                                document.getElementById('editLabWorkAuthorWeight').value = labWork.author.weight || '';
                            }
                            if (document.getElementById('editLabWorkAuthorEyeColor')) {
                                document.getElementById('editLabWorkAuthorEyeColor').value = labWork.author.eyeColor || '';
                            }
                            if (document.getElementById('editLabWorkAuthorHairColor')) {
                                document.getElementById('editLabWorkAuthorHairColor').value = labWork.author.hairColor || '';
                            }

                            if (labWork.author.location) {
                                if (document.getElementById('editLabWorkLocationX')) {
                                    document.getElementById('editLabWorkLocationX').value = labWork.author.location.x || '';
                                }
                                if (document.getElementById('editLabWorkLocationY')) {
                                    document.getElementById('editLabWorkLocationY').value = labWork.author.location.y || '';
                                }
                                if (document.getElementById('editLabWorkLocationName')) {
                                    document.getElementById('editLabWorkLocationName').value = labWork.author.location.name || '';
                                }
                            }

                            if (document.getElementById('editLabWorkPassportID')) {
                                document.getElementById('editLabWorkPassportID').value = labWork.author.passportID || '';
                            }
                        }

                        // Делаем модальное окно видимым
                        document.getElementById('editModal').style.display = 'block';

                        updateLabWork(event, labWork.id);
                    } else {
                        console.error('Permission denied to edit this lab work');
                        Swal.fire({
                            title: "Permission Denied",
                            icon: "error",
                            text: "You can only edit your own lab works.",
                            confirmButtonText: "OK",
                        });
                    }
                } else {
                    console.error('Error checking edit permissions:', response.status);
                    Swal.fire({
                        title: "Error",
                        icon: "error",
                        text: "Could not check permissions for editing this Lab Work.",
                        confirmButtonText: "OK",
                    });
                }
            } catch (error) {
                console.error('Error:', error);
                Swal.fire({
                    title: "Error",
                    icon: "error",
                    text: "An error occurred while trying to edit the Lab Work.",
                    confirmButtonText: "OK",
                });
            }
        }





        async function openEditModal(labWorkId) {
            // Показываем модальное окно
            document.getElementById('editModal').style.display = 'block';

            try {
                // Получаем данные о labWork
                const response = await fetch(`/labworks/${labWorkId}`);
                const labWork = await response.json();

                if (!labWork) {
                    console.error('Lab work data not found');
                    return;
                }

                // Заполняем поля формы с текущими значениями labWork
                const labWorkIdInput = document.getElementById('editLabWorkId');
                if (labWorkIdInput) {
                    labWorkIdInput.value = labWork.id;
                    labWorkIdInput.setAttribute('data-id', labWork.id);
                }

                document.getElementById('editLabWorkName').value = labWork.name || '';
                document.getElementById('editLabWorkDescription').value = labWork.description || '';
                document.getElementById('editLabWorkDifficulty').value = labWork.difficulty || '';
                document.getElementById('editLabWorkMinimalPoint').value = labWork.minimalPoint || '';
                document.getElementById('editLabWorkPersonalQualitiesMax').value = labWork.personalQualitiesMaximum || '';
                document.getElementById('editLabWorkPersonalQualitiesMin').value = labWork.personalQualitiesMinimum || '';

                if (labWork.coordinates) {
                    document.getElementById('editLabWorkCoordinatesX').value = labWork.coordinates.x || '';
                    document.getElementById('editLabWorkCoordinatesY').value = labWork.coordinates.y || '';
                }

                if (labWork.author) {
                    document.getElementById('editLabWorkPassportID').value = labWork.author.passportID || '';
                }

                // Получаем данные для выпадающих списков
                const formDataResponse = await fetch('/labworks/form-data');
                const data = await formDataResponse.json();

                // Проверяем, что данные для выпадающих списков существуют
                if (data && data.disciplines) {
                    populateSelectEditOptions('editLabWorkDisciplineId', data.disciplines, 'name', labWork.discipline ? labWork.discipline.id : null);
                }

                if (data && data.coordinates) {
                    populateSelectEditOptions('editLabWorkCoordinatesId', data.coordinates, coord => `X: ${coord.x}, Y: ${coord.y}`, labWork.coordinates ? labWork.coordinates.id : null);
                }

                if (data && data.authors) {
                    populateSelectEditOptions('editLabWorkAuthorId', data.authors, 'name', labWork.author ? labWork.author.id : null);
                }

                if (data && data.locations) {
                    populateSelectEditOptions('editLabWorkLocationId', data.locations, 'name', labWork.author && labWork.author.location ? labWork.author.location.id : null);
                }

                // Заполняем данные для автора
                if (labWork.author) {
                    document.getElementById('editLabWorkAuthorName').value = labWork.author.name || '';
                    document.getElementById('editLabWorkAuthorWeight').value = labWork.author.weight || '';
                    document.getElementById('editLabWorkAuthorEyeColor').value = labWork.author.eyeColor || '';
                    document.getElementById('editLabWorkAuthorHairColor').value = labWork.author.hairColor || '';

                    if (labWork.author.location) {
                        document.getElementById('editLabWorkLocationX').value = labWork.author.location.x || '';
                        document.getElementById('editLabWorkLocationY').value = labWork.author.location.y || '';
                        document.getElementById('editLabWorkLocationName').value = labWork.author.location.name || '';
                    }

                    document.getElementById('editLabWorkPassportID').value = labWork.author.passportID || '';
                }

            } catch (error) {
                console.error('Error fetching lab work data:', error);
                alert("Error loading data for lab work");
            }
        }


        function closeEditModal() {
            document.getElementById('editModal').style.display = 'none';
        }


        async function updateLabWork(event, labWorkId) {
            event.preventDefault();

            // Извлекаем данные из формы
            const formData = new FormData(document.getElementById('editLabWorkForm'));
            const data = Object.fromEntries(formData.entries());

            // Структурируем данные для отправки
            const labWorkDTO = {
                id: labWorkId,
                name: data.name,
                description: data.description,
                difficulty: data.difficulty,
                coordinates: data.coordinatesId ?
                    { id: data.coordinatesId } :
                    { x: parseFloat(data.coordinatesX), y: parseFloat(data.coordinatesY) },
                discipline: {
                    name: data.disciplineName,
                    practiceHours: parseInt(data.practiceHours),
                },
                author: data.authorId ?
                    { id: data.authorId } :
                    {
                        name: data.authorName,
                        weight: parseFloat(data.authorWeight),
                        eyeColor: data.authorEyeColor,
                        hairColor: data.authorHairColor,
                        passportID: data.passportID,
                        location: {
                            x: parseFloat(data.locationX),
                            y: parseFloat(data.locationY),
                            name: data.locationName,
                        },
                    },
                minimalPoint: parseFloat(data.minimalPoint),
                personalQualitiesMinimum: parseFloat(data.personalQualitiesMinimum),
                personalQualitiesMaximum: parseFloat(data.personalQualitiesMaximum),
                ownerName: data.ownerName
            };

            // Отправляем данные через WebSocket
            stompClient.send("/app/labworks/update", {}, JSON.stringify(labWorkDTO));

            // Закрываем модальное окно
            closeModal();
        }

        function toggleCreateDiscipline() {
            const disciplineSelect = document.getElementById('disciplineId');
            const newDisciplineFields = document.getElementById('newDisciplineFields');
            newDisciplineFields.style.display = disciplineSelect.value ? 'none' : 'block';
        }

        function toggleCreateCoordinates() {
            const coordinatesSelect = document.getElementById('coordinatesId');
            const newCoordinatesFields = document.getElementById('newCoordinatesFields');
            newCoordinatesFields.style.display = coordinatesSelect.value ? 'none' : 'block';
        }

        function toggleCreateAuthor() {
            const authorSelect = document.getElementById('authorId');
            const newAuthorFields = document.getElementById('newAuthorFields');
            newAuthorFields.style.display = authorSelect.value ? 'none' : 'block';
        }

        function toggleCreateLocation() {
            const locationSelect = document.getElementById('locationId');
            const newLocationFields = document.getElementById('newLocationFields');
            newLocationFields.style.display = locationSelect.value ? 'none' : 'block';
        }

        function validateDisciplineSelection() {
            var disciplineId = document.getElementById("disciplineId").value;
            var newDisciplineFields = document.getElementById("newDisciplineFields");
            var newDisciplineName = document.querySelector('[name="newDisciplineName"]').value;
            var newPracticeHours = document.querySelector('[name="newPracticeHours"]').value;
            if (newDisciplineFields.style.display === "block" && (!newDisciplineName || !newPracticeHours)) {
                alert("Please fill in all fields to create a new discipline.");
            } else {
               alert("ALERT");
            }
        }



        function formatUTCDate(dateString) {
            let date = new Date(dateString);
            return date.getUTCFullYear() + "-" +
                ("0" + (date.getUTCMonth() + 1)).slice(-2) + "-" +
                ("0" + date.getUTCDate()).slice(-2) + " " +
                ("0" + date.getUTCHours()).slice(-2) + ":" +
                ("0" + date.getUTCMinutes()).slice(-2) + ":" +
                ("0" + date.getUTCSeconds()).slice(-2) + "." +
                ("00" + date.getUTCMilliseconds()).slice(-3);
        }

        function closeModal() {
            document.getElementById('editModal').style.display = 'none';
        }

        function openAddModal() {
            document.getElementById('addLabWorkModal').style.display = 'block';

            fetch('/labworks/form-data')
                .then(response => response.json())
                .then(data => {
                    populateSelectOptions('disciplineId', data.disciplines, 'name');
                    populateSelectOptions('coordinatesId', data.coordinates, coord => `X: ${coord.x}, Y: ${coord.y}`);
                    populateSelectOptions('authorId', data.authors, 'name');

                    populateSelectOptions('locationId', data.locations, 'name');

                    if (data.authors && data.authors.length > 0) {
                        const firstAuthor = data.authors[0];
                        document.getElementById('locationId').value = firstAuthor.location ? firstAuthor.location.id : '';
                    }

                })
                .catch(error => {
                    console.error('Error fetching form data:', error);
                });
        }

        function closeAddModal() {
            document.getElementById('addLabWorkModal').style.display = 'none';
        }

        function populateSelectEditOptions(elementId, options, labelKey, selectedValue) {
            const selectElement = document.getElementById(elementId);
            if (!selectElement || !options) return;

            // Очистить текущие опции
            selectElement.innerHTML = '';

            // Добавить пустую опцию по умолчанию
            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.textContent = 'Please select';
            selectElement.appendChild(defaultOption);

            // Добавить новые опции
            options.forEach(option => {
                const optionElement = document.createElement('option');
                optionElement.value = option.id;
                optionElement.textContent = option[labelKey] || option.name;

                if (option.id === selectedValue) {
                    optionElement.selected = true;
                }

                selectElement.appendChild(optionElement);
            });
        }

        function populateSelectOptions(selectId, items, selectedId) {
            const selectElement = document.querySelector(`[name=${selectId}]`);
            selectElement.innerHTML = '<option value="">-- Select --</option>'; // Очистка старых опций

            // Создание опций для каждого элемента
            items.forEach(item => {
                const option = document.createElement('option');
                option.value = item.id;
                option.textContent = typeof item.name !== 'undefined' ? item.name : `${item.x}, ${item.y}`; // Для координат или других полей
                if (item.id === selectedId) {
                    option.selected = true; // Устанавливаем выбранным нужный элемент
                }
                selectElement.appendChild(option);
            });
        }






    </script>


</head>

<body>
<h1>Welcome, <span th:text="${username}" id="userName">User</span>!</h1>
<p>This is the user area.</p>

<button onclick="openAddModal()">Add Lab Work</button>

<div id="addLabWorkModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddModal()">&times;</span>
        <h2>Add Lab Work</h2>
        <form id="addLabWorkForm" onsubmit="addLabWork(event)">

            <label for="name">Lab Work Name:</label>
            <input type="text" name="name" placeholder="Lab Work Name" >

            <label for="coordinatesId">Coordinates:</label>
            <select name="coordinatesId" id="coordinatesId" onchange="toggleCreateCoordinates()">
                <option value="">-- Select Coordinates --</option>
            </select>

            <button type="button" onclick="toggleCreateCoordinates()">Create New Coordinates</button>


            <div id="newCoordinatesFields" style="display:none;">
                <input type="number" name="newCoordinatesX" placeholder="New Coordinates X" >
                <input type="number" name="newCoordinatesY" placeholder="New Coordinates Y" >
            </div>


            <label for="description">Description:</label>
            <input type="text" name="description" placeholder="Description" >


            <label for="difficulty">Difficulty:</label>
            <input type="text" name="difficulty" placeholder="Difficulty" >


            <label for="disciplineId">Discipline:</label>
            <select name="disciplineId" id="disciplineId" onchange="toggleCreateDiscipline()">
                <option value="">-- Select Discipline --</option>
            </select>

            <button type="button" onclick="toggleCreateDiscipline()">Create New Discipline</button>


            <div id="newDisciplineFields" style="display:none;">
                <input type="text" name="newDisciplineName" placeholder="New Discipline Name" >
                <input type="number" name="newPracticeHours" placeholder="Practice Hours" >
            </div>

            <label for="minimal_point">Minimal_point:</label>
            <input type="number" name="minimalPoint" placeholder="Minimal Point" >

            <label for="personal_qualities_minimum">Personal Qualities Minimum:</label>
            <input type="number" name="personalQualitiesMinimum" placeholder="Personal Qualities Minimum" >

            <label for="personal_qualities_maximum">Personal Qualities Maximum:</label>
            <input type="number" name="personalQualitiesMaximum" placeholder="Personal Qualities Maximum" >


            <label for="authorId">Author:</label>
            <select name="authorId" id="authorId" onchange="toggleCreateAuthor()">
                <option value="">-- Select Author --</option>
            </select>

            <button type="button" onclick="toggleCreateAuthor()">Create New Author</button>

            <div id="newAuthorFields" style="display:none;">
                <input type="text" name="newAuthorName" placeholder="New Author Name" >
                <input type="number" name="newAuthorWeight" placeholder="Author Weight" >
                <input type="text" name="newAuthorEyeColor" placeholder="Author Eye Color" >
                <input type="text" name="newAuthorHairColor" placeholder="Author Hair Color" >
            </div>

            <label for="locationId">Location:</label>
            <select name="locationId" id="locationId" onchange="toggleCreateLocation()">
                <option value="">-- Select Location --</option>
            </select>

            <button type="button" onclick="toggleCreateLocation()">Create New Location</button>

            <div id="newLocationFields" style="display:none;">
                <input type="number" name="newLocationX" placeholder="New Location X" >
                <input type="number" name="newLocationY" placeholder="New Location Y" >
                <input type="text" name="newLocationName" placeholder="New Location Name" >
            </div>

            <input type="text" name="passportID" placeholder="Passport ID" >

            <button type="submit">Add Lab Work</button>
        </form>
    </div>
</div>








<h2>LabWork Entities</h2>

<div class="table-container">
    <table id="labWorkTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Creation Date</th>
            <th>Name</th>
            <th>Discipline Name</th>
            <th>Practice Hours</th>
            <th>Description</th>
            <th>Difficulty</th>
            <th>Coordinates X</th>
            <th>Coordinates Y</th>
            <th>Minimal Point</th>
            <th>Personal Qualities Max</th>
            <th>Personal Qualities Min</th>
            <th>Author Name</th>
            <th>Author Weight</th>
            <th>Author Eye Color</th>
            <th>Author Hair Color</th>
            <th>Location X</th>
            <th>Location Y</th>
            <th>Location Name</th>
            <th>Passport ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="labWorkTableBody">
        </tbody>
    </table>
</div>


<div id="pagination">
    <button onclick="previousPage()">Previous</button>
    <span id="currentPage">1</span> / <span id="totalPages">1</span>
    <button onclick="nextPage()">Next</button>
</div>

<div id="editModal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Edit Lab Work</h2>
        <form id="editLabWorkForm" onsubmit="editLabWork(event)">
            <!-- Добавляем data-id для передачи labWorkId -->
            <input type="hidden" id="editLabWorkId" name="id" data-id=""> <!-- Пример для id -->

            <label for="name">Lab Work Name:</label>
            <input type="text" name="name" id="editLabWorkName" placeholder="Lab Work Name">

            <label for="coordinatesId">Coordinates:</label>
            <select name="coordinatesId" id="editLabWorkCoordinatesId">
                <option value="">-- Select Coordinates --</option>
            </select>
            <button type="button" onclick="toggleCreateCoordinates()">Create New Coordinates</button>

            <div id="newCoordinatesFields" style="display:none;">
                <input type="number" id ="editLabWorkCoordinatesX" name="newCoordinatesX" placeholder="New Coordinates X">
                <input type="number" id ="editLabWorkCoordinatesY" name="newCoordinatesY" placeholder="New Coordinates Y">
            </div>

            <label for="description">Description:</label>
            <input type="text" name="description" id="editLabWorkDescription" placeholder="Description">

            <label for="difficulty">Difficulty:</label>
            <input type="text" name="difficulty" id="editLabWorkDifficulty" placeholder="Difficulty">

            <label for="disciplineId">Discipline:</label>
            <select name="disciplineId" id="editLabWorkDisciplineId">
                <option value="">-- Select Discipline --</option>
            </select>
            <button type="button" onclick="toggleCreateDiscipline()">Create New Discipline</button>

            <div id="newDisciplineFields" style="display:none;">
                <input type="text" name="newDisciplineName" placeholder="New Discipline Name">
                <input type="number" name="newPracticeHours" placeholder="Practice Hours">
            </div>

            <label for="minimalPoint">Minimal Point:</label>
            <input type="number" name="minimalPoint" id="editLabWorkMinimalPoint" placeholder="Minimal Point">

            <label for="personalQualitiesMin">Personal Qualities Minimum:</label>
            <input type="number" name="personalQualitiesMinimum" id="editLabWorkPersonalQualitiesMin" placeholder="Personal Qualities Minimum">

            <label for="personalQualitiesMax">Personal Qualities Maximum:</label>
            <input type="number" name="personalQualitiesMaximum" id="editLabWorkPersonalQualitiesMax" placeholder="Personal Qualities Maximum">

            <label for="authorId">Author:</label>
            <select name="authorId" id="editLabWorkAuthorId">
                <option value="">-- Select Author --</option>
            </select>
            <button type="button" onclick="toggleCreateAuthor()">Create New Author</button>

            <div id="newAuthorFields" style="display:none;">
                <<!-- Для данных автора -->
                <label for="authorName">Author Name:</label>
                <input type="text" id="editLabWorkAuthorName" name="authorName" placeholder="Author Name">

                <label for="authorWeight">Author Weight:</label>
                <input type="number" id="editLabWorkAuthorWeight" name="authorWeight" placeholder="Author Weight">

                <label for="authorEyeColor">Author Eye Color:</label>
                <input type="text" id="editLabWorkAuthorEyeColor" name="authorEyeColor" placeholder="Author Eye Color">

                <label for="authorHairColor">Author Hair Color:</label>
                <input type="text" id="editLabWorkAuthorHairColor" name="authorHairColor" placeholder="Author Hair Color">

                <label for="authorLocationX">Author Location X:</label>
                <input type="number" id="editLabWorkLocationX" name="authorLocationX" placeholder="Location X">

                <label for="authorLocationY">Author Location Y:</label>
                <input type="number" id="editLabWorkLocationY" name="authorLocationY" placeholder="Location Y">

                <label for="authorLocationName">Author Location Name:</label>
                <input type="text" id="editLabWorkLocationName" name="authorLocationName" placeholder="Location Name">

                <label for="authorPassportID">Author Passport ID:</label>
                <input type="text" id="editLabWorkPassportID" name="authorPassportID" placeholder="Passport ID">

            </div>

            <label for="locationId">Location:</label>
            <select name="locationId" id="editLabWorkLocationId">
                <option value="">-- Select Location --</option>
            </select>
            <button type="button" onclick="toggleCreateLocation()">Create New Location</button>

            <div id="newLocationFields" style="display:none;">
                <input type="number" name="newLocationX" placeholder="New Location X">
                <input type="number" name="newLocationY" placeholder="New Location Y">
                <input type="text" name="newLocationName" placeholder="New Location Name">
            </div>

            <input type="text" name="passportID" placeholder="Passport ID" id="editLabWorkPassportID">

            <button type="submit">Update Lab Work</button>
        </form>
    </div>
</div>



<a href="/logout">Logout</a>
</body>
</html>
